{#
 # SharIF Judge
 # file: hof.twig
 # author: Stillmen Vallian <stillmen.v@gmail.com>
 #}
{% set selected = 'hof' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-podcast{% endblock %}
{% block title %}Hall of Fame{% endblock %}
{% block head_title %}Hall of Fame{% endblock %}



{% block main_content %}
<div style="height:15px"></div>
<table class="sharif_table">
	<thead>
		<tr>
			<th>#</th>
			<th>Username</th>
			<th>Total Score</th>
		</tr>
	</thead>
	{% for hof in hofs %}
		<tr class="hof_details" style="cursor: pointer;">
			<td>{{ loop.index }}</td>
			<td>{{ hof.username }}</td>
      <td>{{ hof.totalscore }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %} {# main_content #}
